{% extends "base.html" %}

{% block  lab %}Лабораторная работа 6{% endblock %}

{% block script %}
<script>
function getOfficeList () {
    const url = '/lab6/json-rpc-api';
    const json = {
        'jsonrpc' : '2.0' ,
        'method' : 'info',
        'params' : officeNumber,
        'id' : Math.round(Math.random()*1000)
    };
    fetch(url, {
        method : 'POST',
        headers : {'Content-Type' : 'application/json'},
        body : JSON.stringify(json)
    })
    .then (function(responce) {
        return responce.json()
    })
    .then (function(data) {
        if (data.error) {
            switch(data.error.code) {
                case 1 :
                    alert('Вы не авторизованы, пожалуйста, авторизуйтесь');
                    break;
                case 2 :
                    alert('Офис уже арендуется');
                    break;
                case -32601 :
                    alert('Странная ошибка');
                    break;
            }
        }
    });
}

function booking(officeNumber) {
    const url = '/lab6/json-rpc-api';
    const json = {
        'jsonrpc' : '2.0' ,
        'method' : 'booking',
        'id' : Math.round(Math.random()*1000)
    }
}

document.addEventListener('DOMContentLoaded', function() {
    getOfficeList();
})
</script>
{% endblock %}

{% block main %}
<style>
    .buttons-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .btn {
        background-color: #5ecaeb;
        color: #32195d;
        padding: 10px 20px;
        text-decoration: none;
        border: 2px solid #323976;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;
        margin: 10px;
    }
</style>  

    <h>Список кабинетов</h>
    <ul id="office-list"></ul>

{% endblock %}