{% extends "base.html" %}

{% block lab %}Лабораторная работа 6{% endblock %}

{% block script %}
<script>
function getOfficeList() {
    const url = '/lab6/json-rpc-api/';
    const json = {
        'jsonrpc': '2.0',
        'method': 'info',
        'id': Math.round(Math.random()*1000)
    };
    fetch(url, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(json)
    })
    .then(function(response) {
        return response.json()
    })
    .then(function(data) {
        const office_list = data.result;
        const ul = document.getElementById('office-list');
        ul.innerHTML = ''; 

        let total_rent = 0;
        for (let i = 0; i < office_list.length; i++) {
            const office = office_list[i];
            const li = document.createElement('li');
            li.innerText = `Офис ${office.number}: ${office.tenant || 'свободен'}, Стоимость аренды: ${office.price}₽`;

            if (office.tenant) {
                total_rent += office.price;
            }

            const bookingButton = document.createElement('button');
            bookingButton.innerText = 'Зарезервировать';
            bookingButton.onclick = function() { booking(office.number) };
            li.appendChild(bookingButton);

            // Создание кнопки для отмены бронирования (если офис забронирован)
            if (office.tenant) {
                const cancellationButton = document.createElement('button');
                cancellationButton.innerText = 'Отменить бронь';
                cancellationButton.onclick = function() { cancelBooking(office.number) };
                li.appendChild(cancellationButton);
            }

            ul.appendChild(li);
        }

        // Отображение общей стоимости аренды
        const totalRentElement = document.getElementById('total-rent');
        totalRentElement.innerText = `Общая стоимость аренды: ${total_rent}₽`;
    });
}
function booking(officeNumber) {
    const url = '/lab6/json-rpc-api';
    const json = {
        'jsonrpc': '2.0',
        'method': 'booking',
        'params': officeNumber,
        'id': Math.round(Math.random()*1000)
    };
    fetch(url , {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(json)
    })
    .then(function(response) {
        return response.json()
    })
    .then(function(data) {
        handleResponse(data);
    });
}

function cancelBooking(officeNumber) {
    const url = '/lab6/json-rpc-api/';
    const json = {
        'jsonrpc': '2.0',
        'method': 'cancellation',
        'params': officeNumber,
        'id': Math.round(Math.random() * 1000)
    };
    fetch(url, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(json)
    })
    .then(function(response) {
        return response.json()
    })
    .then(function(data) {
        handleResponse(data);
    });
}

function handleResponse(data) {
    if (data.error) {
        switch (data.error.code) {
            case 1:
                alert('Вы не авторизованы, пожалуйста, авторизуйтесь');
                break;
            case 2:
                alert('Офис уже арендуется');
                break;
            case 3:
                alert('У вас нет прав для отмены этой брони');
                break;
            case -32601:
                alert('Метод не найден');
                break;
        }
    } else {
        document.getElementById('office-list').innerHTML = '';
        getOfficeList(); 
    }
}


document.addEventListener('DOMContentLoaded', function() {
    getOfficeList();
});
</script>
{% endblock %}

{% block main %}

<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    font-size: 24px;
        font-weight: bold;
        color: #211687;
        margin-bottom: 10px;
        font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

button {
    background-color: #5ac1de; /* Зеленая кнопка для бронирования */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4391a7; 
}

#total-rent {
    margin-top: 20px;
    padding: 10px;
    background: #2194d2; 
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}


</style>

    <h1>Список кабинетов</h1>
    <ul id="office-list"></ul>
    <div id="total-rent">Общая стоимость аренды: 0₽</div> 

{% endblock %}