<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тырыкина Полина.{% block lab %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lab1/main.css') }}">
</head>

<body>
    <header>
        НГТУ, ФБ, WEB-программирование, часть 2.{{ self.lab() }}
    </header>

    <main>
        {% block main %}
        <h1>Породы кошек</h1>
        <div class="div1">
            <b><p>Британская короткошерстная</p></b>
            <img src="{{ url_for('static', filename = 'lab2/cat.jpg') }}" class="img">
            <p>Британская короткошёрстная кошка — крупная порода, имеющая массивное, коренастое телосложение. У представителей этой породы широкая грудная клетка и толстый хвост. Морда, уши, глаза и голова имеют округлую форму. У этих кошек короткий широкий нос и массивная нижняя челюсть. Шерсть — короткая и густая, без пушистости, бывает более ста окрасов и множество комбинаций пятен.</p>
        </div>
        <div class="div1">
            <b><p>Мейн-кун</p></b>
            <img src="{{ url_for('static', filename = 'lab2/cat1.jpg') }} " class="img">
            <p>Мейн-куны – одна из крупнейших пород домашних кошек. Представители данного вида обладают дружелюбным, спокойным и уравновешенным характером, открыто идут на контакт и легко ладят с детьми.</p>
        </div>
        <div class="div1">
            <b><p>Шотландская вислоухая </p></b>
            <img src="{{ url_for('static', filename = 'lab2/cat2.jpg') }}" class="img">
             <p>Очаровательная внешность, дружелюбный характер и высокий интеллект – все это о шотландских вислоухих кошках. И хотя порода относительно молодая, она быстро стала известной и завоевала любовь во всем мире. А благодаря основной особенности – загнутым ушкам – шотландских вислоухих, или, как их еще называют, скоттиш-фолдов, легко узнают даже те, кто не очень хорошо разбирается в кошках.</p>
        </div>
        <div class="div1">
            <b><p>Британская короткошерстная</p></b>
            <img src="{{ url_for('static', filename = 'lab2/cat3.jpg') }}" class="img">
            <p>Японский бобтейл отличается изящными очертаниями и хорошо развитой мускулатурой. На голове возвышаются крупные большие уши и большие круглые глаза, посаженные с выраженным наклоном. Длина хвоста, как правило, составляет всего 5–8 см. Если кошка расслаблена, хвост направлен вертикально. Волоски на хвосте обычно бывают толще и длиннее по сравнению с другими частями тела и растут во всех направлениях, что создает эффект помпона или заячьего хвоста. Бобтейлы могут быть длинно- или короткошерстными и имеют разные окрасы. Например, в Японии популярны трехцветные кошки (окрас триколор). Считается, что сочетание черного, рыжего и белого символизирует удачу. Из-за генетических особенностей такой окрас возможен только у самок.</p>
        </div>
        <div class="div1">
            <b><p>Британская короткошерстная</p></b>
            <img src="{{ url_for('static', filename = 'lab2/cat4.jpg') }}" class="img">
            <p>Экзотическая порода кошек ашера покоряет хозяев не только своей внешностью, но и интересным характером. Эти животные довольно редкие, однако их можно встретить на просторах страны у немногих заводчиков, которые специализируются на разведении этой породы.</p>
        </div>
        {% endblock %}
    </main>

    <footer>
        &copy; Тырыкина Полина, ФБИ-23, 3 курс, 2024
    </footer>
</body>
</html>