{% extends "base.html" %}

{% block  lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<a href="/lab5">Перейти в меню</a>
    <h1>Статьи</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        {% for article in articles %}
            <h2>{{ article['title'] }}</h2>
            <blockquote>{{ article['article_text'] }}</blockquote>
            <button type="submit"><a href="{{ url_for('lab5.edit', article_id=article['id']) }}">Редактировать</a></button>
            <form action="{{ url_for('lab5.delete_article', article_id=article['id']) }}" method="POST" style="display:inline;">
            <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить эту статью?');">Удалить</button>
        {% endfor %}
    {% endif %}
{% endblock %}