{% extends "base.html" %}

{% block  lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<a href="/lab5">Перейти в меню</a>
    <h1>Создание статьи</h1>
    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title">
            </label>
        </div>

        <div>
            <textarea name="article_text"></textarea>
        </div>
        <div>
            <button type="submit">Готово</button>
        </div>
        {% if error %}
        <div style="color: red; font-weight: bold;">{{ error }}</div>
        {% endif %}
    </form>
{% endblock %}