{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>
    <form action="/lab8/articles/create" method="post">
        <div>
            <label>
                Заголовок: <input type="text" name="title" required>
            </label>
        </div>
        <div>
            <label>
                Текст статьи: <textarea name="article_text" required></textarea>
            </label>
        </div>
        <button type="submit">Создать статью</button>
    </form>
    <a href="{{ url_for('lab8.lab') }}" style="display: inline-block; margin-bottom: 20px; padding: 10px 15px; background-color: #6c757d; color: white; text-decoration: none; border-radius: 5px; margin-left: 10px;">Вернуться на главную</a>
{% endblock %}