{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>Создать новую статью</h1>

    <form action="{{ url_for('lab8.create_article') }}" method="POST">
        <div>
            <label>
                Заголовок: <input type="text" name="title" required>
            </label>
        </div>
        <div>
            <label>
                Текст статьи: <textarea name="article_text" required></textarea>
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="is_public"> Сделать статью публичной
            </label>
        </div>
        <button type="submit" style="padding: 5px 10px; background-color: #007bff; color: white; border: none; border-radius: 3px; cursor: pointer;">Создать</button>
    </form>

    <a href="{{ url_for('lab8.article_list') }}" style="display: inline-block; margin-top: 20px; padding: 10px 15px; background-color: #6c757d; color: white; text-decoration: none; border-radius: 5px;">Вернуться к списку статей</a>
{% endblock %}